@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');


*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
   
}


/*LINKS A FAMEWORKS FUENTES ICONOS 

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">    
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Goldman:wght@400;700&family=Inconsolata:wght@300&family=Montserrat:ital,wght@1,300&family=Orbitron:wght@500&family=Rubik:ital,wght@1,300&family=Space+Mono:ital@1&family=Teko:wght@500&family=Turret+Road:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald&display=swap" rel="stylesheet">	


<link rel="stylesheet" href="framework.css">
 <link rel="short icon" href="../img/R_verde.png" type="image/x-icon">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
*/

/*java script frameworks

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
    AOS.init();
  </script>
 <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script> 

 >
familia de fuentes: 'Aldrich', sans-serif;
font-family: 'Big Shoulders Display', cursiva;
familia de fuentes: 'Codystar', cursiva;
familia de fuentes: 'Gruppo', cursiva;
familia de fuentes: 'Megrim', cursiva;
familia de fuentes: 'Montserrat Alternates', sans-serif;
familia de fuentes: 'Orbitron', sans-serif;
familia de fuentes: 'Poppins', sans-serif;
familia de fuentes: 'Rubik', sans-serif;
familia de fuentes: 'Sarpanch', sans-serif;
familia de fuentes: 'Six Caps', sans-serif;
familia de fuentes: 'Syncopate', sans-serif;
familia de fuentes: 'Teko', sans-serif;
familia de fuentes: 'Turret Road', cursiva;
familia de fuentes: 'Wallpoet', cursiva;



*/

/*VARIABLES */
:root{
    --ancho-total:100%;
    --medium-ancho: 90%;
    --smal-ancho: 80%;
    --alto-total:100vh;
    --alto-medio:90vh;
    --bg-glass: linear-gradient(to top left, rgba(128, 128, 128, 0.664), rgba(39, 35, 35, 0.685));
    --bg-duo: linear-gradient(45deg, grey 30%, white 20%);
    --color-btn-blue: blue;
    --color-btn-green: green;
    --color-btn-black: black;
    --color-btn-red:#fc3b29;
    --titulos: 'Montserrat', sans-serif;
    --secciones: 'Rubik', sans-serif;
    --subtitulos: 'Sarpanch', sans-serif;
    --otros: 'Orbitron', sans-serif;
    --cards: 'Teko',sans-serif;
    --delgada:'Roboto', sans-serif;
    --big-font: 4em;
    --med-font:3em;
    --med-font1:2em;
    --small-font:1.25em;
    --x-small-font:.9375em;
}

body{

    background: var(--bg-glass);
    font-family: var(--subtitulo);
    font-size: 15px;
}


@media screen and (max-width:670px)
{body{font-size: 13px;}

}

a{text-decoration: none;}
ul{list-style: none;}

p{line-height: 1.6875em;}

img{
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

/*NAV Y MENU DESPLEGABLE*/
.nav{
    position: fixed;
    /*position: sticky;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 5em;
    border: .5px dashed white;   
    width: 100%;    
    /*transform: translateY(-100%);*/
    transition: 1s all ease;
    z-index: 10;    
    background: rgba(0, 0, 0, 0.418);
    
}



.rdes{
    border: .5px dashed rgba(255, 255, 255, 0.568); 
    height: 100%; 
    width: 100%;
    grid-column: 1/4;
   }

.rdes a:hover{
   color: rgb(223, 152, 22);
   
}



.nav a{
    display: inline-block;
    margin: .425em;
    text-transform: uppercase;
    font-size: .9375em;   
    color: white;
    padding: 20px 10px;
    transition: .6s all ease;
    font-family: var(--otros);
}



/*LOGO O MARCA DENTRO DEL NAV*/
.logo{
    grid-column: 4/-2;
    /*background: linear-gradient( to left  top, rgba(255, 253, 253, 0.472), rgba(128, 128, 128, 0.479));*/
    height: 100%;  
    border: .03125em dashed rgba(255, 255, 255, 0.39);
    text-align: center;
    padding: 1em ;  
     
}



@media screen and (max-width:800px){

    .rdes{
        grid-column: span 12;
        text-align: center;
    }

    .logo{
        grid-column: span 12;
    }
}

.nav-name, .apellido{
    color:var(--color-btn-red);
    color: rgb(223, 152, 22);
    font-size: 1.6em;
    font-family: var(--otros);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo.white{
    background: white;
    
    
}



/*MENU RESPONSUVE DESPLEGABL
E*/
.menu{
    position: fixed;
    top: 1.25em;
    right: .625em;
     z-index: 200;
     height: 100%;
     background:rgba(53, 61, 107, 0.719); 
     background-position: center;
     background-size: cover;
     width: 100%;     
     /*clip-path: inset(0 0 92% 85%);*/
     clip-path: inset(0 0 94% 94%);
     transition: 1s all ease;
     transform-style: preserve-3d;
     border-radius: .9375em;
    
     
}



.paint{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 90%;
    margin: auto;
    height: 90vh;
    box-shadow: 0px 0px 30px -10px rgba(78, 71, 71, 0.678);
   
}

.paint::before{
    content: "";
    grid-column: 5/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    background-image: url('../img/team-work/social-media-550767_1920.png');
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 0, 1% 0);   
    
}


.paint.active::before{
    animation: show 3s 5s ease forwards;
}


.paint-textos.active{

    animation: show 3s .5s ease-out forwards, move 3s 3s forwards;
}



.paint-textos{
    grid-column: 2/6;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    clip-path: polygon(0 100%, 98% 100%, 100% 100%, 0 100%);
    transform: translateX(50%);
    
}

.paint-tittle{
    font-size: 3.75rem;
    font-family: var(--otros);
    color:rgb(243, 230, 230);
    font-weight: 200;
    
}

.transform{
    font-size: 2.5em;
}

.paint-textos a{
    color: red;
    color: rgb(223, 152, 22);
    font-family: var(--otros);
    font-size: 1.25em;
}

.paint-textos a:hover{
    color: rgb(199, 181, 17);
    transform: translate(10px);
}


@keyframes show{
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes move{
    to{
        transform: translateX(0);
    }
}

.menu.active{
    clip-path: inset( 0% 0% 10% 10%);   
    
}

.click-menu{
    position: fixed;
    top: .4em;
    right: 1em;
    font-size: 1.5625em;
    color: rgb(250, 246, 246);
    transition: .5s all ease;

}

.click-menu:hover{
    transform: rotateX(50deg);
    color: rgba(238, 65, 12, 0.952);
    cursor: pointer;
}

.click-menu1{
    position: fixed;
    top: 1.1em;
    right: 1em;
    font-size: 1.875em;
    color: rgb(245, 237, 237);
    transform: translateX(180%);
    transition: .5s all ease;
}

.click-menu1:hover{
    transform: rotate(25deg);
    color: rgb(24, 23, 5);
    cursor: pointer;
}





.contenedor{
    width: 90%;
    margin: auto;
   /* max-width: 75em;*/
    height: 100vh;
    
}


/*
MENU FIJO SMALL

*/

.social-menu{
    width: 3.5em;
    height: 4em;
    background: rgba(196, 16, 76, 0.952);
    position: fixed;
    top: 16em;
    left: .625em;
    z-index: 400;
    padding: 2.25em .9em;
    border-radius: 5px;
    overflow: hidden;
    transition: .6s ease;
    
}


.social-menu.scroll{
   height: 20em;
}

.zise{
    text-align: center;
    color: rgb(227, 233, 235);
    margin-bottom: 1.5em;
    font-family: var(--delgada);
}
   



.social-menu .fab{
    font-size: 1.2em;
    color: rgb(232, 239, 240);
    margin-bottom: 1.5em;
}

@media screen and (max-width: 800px){
    .social-menu{display: none;}
}







/*HERO FONDO HADER*/
.hero{
   
    /*background-image: url('img/abstracto/bg-white\ \(1\).png');*/
    background-image: url("../img/arquitectura/empire-state-building-600001_1920.jpg");
    /*background-image: url('https://fondeadora.com/images/bg_desktop6_1.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;   
    width: var(--ancho-total);
    height: var(--alto-total);
    position: relative;
    background-attachment: fixed;
    /*position: relative;
    animation: hero 18s infinite ;
    animation-delay: 3s;
    animation-direction: alternate;*/
}

.hero .texto-hero{
    position: absolute;
    bottom: 5.25em;
    width: 25.75em;
    height: 9.75em;
    
    text-align: left;
}

.texto-hero>h3{
    color: white;
    font-family: var(--otros);
    font-weight: 100;
    font-size: 1.675em;
   
}

.texto-hero .profesion{
    color: white;
    font-family: var(--otros);
    font-weight: 100;
    font-size: 2.8em;
    font-weight: 100;

}


.arrow-down{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8em;
    height: 8em;
    background: var(--color-btn-red);
    background: rgb(223, 152, 22);
    padding: 1.875em auto;
}

/*.arrow-down>a{
    color: white;
    font-size: var(--med-font);
    display: inline-block;
   
    
}*/

.fa-long-arrow-alt-down{
    color: white;
    font-size: 3.6em;
    padding: 30px 50px;
}







.hero.dos{
     /*background-image: url('img/abstracto/bg-white\ \(1\).png');*/
     background-image: url('../img/arquitectura/architecture-2256489_1920.jpg');
     
     /*background-image: url('https://fondeadora.com/images/bg_desktop6_1.jpg');*/
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-blend-mode: multiply;   
     width: var(--ancho-total);
     height: var(--alto-total);
     position: relative;
     background-attachment: fixed;
     transition: 1s;
     display: flex;
     justify-content: center;
     align-items: center;
     /*position: relative;
     animation: hero 18s infinite ;
     animation-delay: 3s;
     animation-direction: alternate;*/
}

.hero.tres{
     /*background-image: url('img/abstracto/bg-white\ \(1\).png');*/
     background-image: url('../img/arquitectura/selfridges-building-1149895_1920.jpg');
     /*background-image: url('https://fondeadora.com/images/bg_desktop6_1.jpg');*/
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-blend-mode: multiply;   
     width: var(--ancho-total);
     height: var(--alto-total);
     position: relative;
     background-attachment: fixed;
     transition: 1s;
     display: flex;
     justify-content: center;
     align-items: center;
     /*position: relative;
     animation: hero 18s infinite ;
     animation-delay: 3s;
     animation-direction: alternate;*/
}


.hero.cuatro{
     /*background-image: url('img/abstracto/bg-white\ \(1\).png');*/
     background-image: url('../img/arquitectura/tunnel-2033983_1920.jpg');
     /*background-image: url('https://fondeadora.com/images/bg_desktop6_1.jpg');*/
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-blend-mode: multiply;   
     width: var(--ancho-total);
     height: var(--alto-total);
     position: relative;
     background-attachment: fixed;
     transition: 1s;
     display: flex;
     justify-content: center;
     align-items: center;
     /*position: relative;
     animation: hero 18s infinite ;
     animation-delay: 3s;
     animation-direction: alternate;*/
}


.hero.cinco{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: black;
}



.slider{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90vh;
    box-shadow: 0px 0px 30px -20px rgba(128, 128, 128, 0.664);
}

.slider ul{
    display: flex;
    width: 400%;
    animation: slide 20s linear infinite alternate;
}

.slider li{width: 100%;}

.slider img{width: 100%; object-fit: cover;}

@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}  
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}


@keyframes hero{
    0%{ background-image: url('../img/arquitectura/building-1989816_1920.jpg');}
    20%{ background-image: url('../img/arquitectura/skyscrapers-1081737_1920.jpg');}
    45%{ background-image: url('../img/arquitectura/surface-945444_1920.jpg');}
    70%{ background-image: url('img/abstracto/key-2114046_1920.jpg');}
    95%{background-image: url('img/abstracto/roma-kaiuk-UKG23mQpIIs-unsplash.jpg');}
}

.dos:hover,.tres:hover,.cuatro:hover{
    background-color: rgba(58, 25, 209, 0.644);
}

.dos:hover .tittle,.tres:hover .tittle,.cuatro:hover .tittle{
    transform: scale(1.1);
}



/*+++++++++++++FOOTER++++++++++++++++++++++++++*/

.footer{
    background: rgba(99, 103, 160, 0.787);
    width: 100%;
    min-height: 7.25rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1fr);
}

.footer .white{   
    grid-column: 1/4;    
    background: white;
    text-align: center;
    padding: 1.875em;
}

.footer .redes{
    grid-column: 5/9;
   
    padding: 1.875em;
}

.redes a{
    display: inline-block;
    text-transform: uppercase;
    font-size: .9375em;   
    color: white;
    font-family: var(--otros);
    margin: .825em;
   
}


.redes a:hover{  color: rgb(223, 152, 22);}


.footer .copy_rigth{
  grid-column: 9/12;
 
  padding: 1.875em;
}

.copy_rigth h3{
    color: white;
    font-family: var(--delgada);
}


.arrow-up{
    grid-column: 12/-1;
   
    background: var(--color-btn-red);
    background: rgb(223, 152, 22);
}

.fa-arrow-up{

    color: white;
    font-size: 2.6em;
    padding: 30px 30px;

}


@media screen and (max-width:800px){
    .footer .white{   
        grid-column: 1/-1;
      
    }

    .footer .redes{
        grid-column: 1/-1;
        text-align: center;       
    }

    .footer .copy_rigth{
        grid-column: 1/-3;
        text-align: center; 

    }
}




/*++++++++++++++++++++++
ESTILOS GENERALES

*/
.tex-center{
    text-align: center;
}

.tittle{
    font-size: var(--big-font);
    color: white;
    font-family: var(--titulos);
    letter-spacing: .3125em;
    font-weight: 100;
    transition: .5s all ease;

}

